{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}
	<main class="container">
		<section class="row">

			<div class="col-12">

				<h1>Product List</h1>
				<p>{{category.name}}</p>

			</div>
			{% for product in products.data %}
				<div class="col-3 mb-3">
					<article class="card h-100">
						<img src="{{ asset('assets/uploads/products/mini/300x300-' ~ product.images[0].name ) }}" class="card-img-top" alt="{{ product.name }}">
						<div class="card-body">
							<h4 class="card-title">
								{{ product.name }}
							</h4>
							<p class="card-text">{{ product.description }}</p>
							<a href="{{ path('app_products_details', {slug: product.slug}) }}" class="btn btn-primary">See Details</a>
						</div>
					</article>
				</div>
			{% endfor %}
			{% set path = 'app_categories_list' %}
			{% set slug = category.slug %}
			{% set pages = products.pages %}
			{% set currentPage = products.page %}
			{% include "partials/_pagination.html.twig" %}
		</section>
	</main>
{% endblock %}
